{% extends 'base.html' %}

{% block title %}
{{block.super}} FAQ
{% endblock %}

{% block content %}
<div>
	<h1>FAQ</h1>
	<div>
		<strong>What is Penncycle?</strong>
		<p>PennCycle is a student-run organization dedicated to providing Penn students with affordable, reliable, convenient, and sustainable methods of bicycle transportation on campus and around the greater Philadelphia area.</p>
	</div>
    <hr>		
	<div>
		<strong>How does Penncycle work?</strong>
		<p>Students sign up for plans in person at Quaker Corner, or online at PennCycle.org. Once a student signs up for a plan, they will be contacted by a PennCycle representative and provided with a bike that best suits their needs.</p>
	</div>

    <hr>
	<div>
		<strong>How do I lock up my bike?</strong>
		<p>Ensure the lock goes through the rack, the front wheel and a sturdy part of the frame. If you can't include the front wheel, be sure to include the frame. PennCycle will charge a $5 fee for an improperly locked bike. Never lock your bike to a garbage can, or bench.</p> 
    <p><img src="/static/img/locked_bike.png" alt="locked bike"></img></p>
	</div>

    <hr>
	<div>
		<strong>What are the new PennCycle plans?</strong>
		<p>There are three plans: Month ($35) and Semester ($120) and year ($175). Payment plans are available upon request.</p>
	</div>

    <hr>
	<div>
		<strong>Why has the PennCycle service changed?</strong>
		<p>We wanted to better personalize our service and ensure that we are able to provide a reliable service with a greater focus on our customers. By limiting checkouts, we will now be able to work with our customers to customize their ride.</p>
	</div>

	<hr>
	<div>
		<strong>How do I check out a bike?</strong>
		<p>You can reserve a bike by sending us an email at messenger@penncycle.org. Or by filling out the bicycle reservation form on our website www.penncycle.org. Someone from PennCycle will contact you to get preliminary information (what kind of bike you are interested in, your approximate height, and where you will be riding) to ensure that we have a bike to fit your needs. You will then set up a time to pick up your bike, and, if this is your first time riding PennCycle, get a basic lesson on riding around campus and in the city. You can find alternative dates with your contact, but the official bike check out times are Fridays between 9 am and 5 pm at Penn Student Agencies.</p>
	</div>
    <hr>	
	<div>
		<strong>What happens if there are no available bikes?</strong>
		<p>PennCycle has a limited number of bikes to be checked out. If there are no available bikes you will be added to our wait list, and notified as soon as a bike is returned. Payments are not made until the bike are checked out.</p>
	</div>
    <hr>
	<div>
		<strong>Where do I check out a bike once I reserve it?</strong>
		<p>You will pick up your bike and pay at Penn Student Agencies.</p>
	</div>
    <hr>
	<div>
		<strong>What will my bike look like?</strong>
		<p>PennCycle has a wide variety of bicycles to suit every rider’s needs. We have cruisers, road bikes, mountain bikes, and a variety of hybrids.</p>
	</div>
    <hr>
	<div>
		<strong>Do you provide locks?</strong>
		<p>Yes. Kryptonite combination locks are provided with all bikes.</p>
	</div>
    <hr>
	<div>
		<strong>Do you provide helmets?</strong>
		<p>Yes. All members are required to take a helmet.</p>
	</div>
    <hr>
	<div>
		<strong>Do you provide lights?</strong>
		<p>Approximately ⅓ of our bikes are currently outfitted with lights. We are in the process of finding lights to fit all of our bikes. If you anticipate that you will be riding at night, please indicate as such when you reserve a bike.</p>
	<div>
    <hr>
	<div>
		<strong>What are my responsibilities once I check out a bike?</strong>
		<p>You are expected to lock up your bike correctly, follow the rules of the road, and only ride if you bike is fully-functioning. For more information, see our waiver.</p>
	</div>
    <hr>
	<div>
		<strong>What happens if something goes wrong with my bike?</strong>
		<p>If your bike’s tires need air, you can fill them up at one of the two bike repair stations on campus (outside of Pottruck, and by the Chem building), at Keswick Cycle (on 40th and Locust) or at Penn Student Agencies. If you notice something more serious wrong with your bike, please contact us via email (with the subject “Bike [NUMBER] Maintenance request”, or fill out our maintenance request form on our website. A PennCycle representative will contact you within 24 hours.</p>
	</div>
    <hr>
	<div>
		<strong>Where can I bike in Philly?</strong>
		<p>Here is a Philly bike map, and a list of great destinations for cyclists.</p>
	</div>
    <hr>
	<div>
		<strong>Where can I bike on campus?</strong>
		<p>To ensure the safety of pedestrians and cyclists, you cannot ride on Locust walk on weekdays during the hours of 7:30 am and 5:30 pm. You may be ticketed if you do not obey these rules. If you are traveling East, you can bike on Baltimore Ave, Spruce St, or Chestnut St (though, be aware that there is no bike lane for most of Chestnut St in University City). If you are traveling West, you can ride on Baltimore Ave, Spruce St, Walnut St, or Market.</p>
	</div>
    <hr>
	<div>
		<strong>Is it true that riding PennCycle is cheaper than buying my own bike?</strong>
		<p>Riding PennCycle is cheaper, and easier that purchasing your own bike. We take all of the confusion out of bike ownership, and provide all necessary maintenance on bikes.</p>
	</div>
    <hr>
	<div>
		<strong>How do group rides work?</strong>
		<p>Leaders of student organizations, conferences, and RA’s and GA’s can reserve up to 10 total bikes (recommended group ride size is 5 bikes) for up to 12 hours for self-organized rides. Please fill out our Group Ride Request form at least two weeks before you wish to reserve the bikes, and a PennCycle representative will be in contact with you. Group rides may not take place during Final Exams, or on vacation days. We recommend that rides take place on weekends.</p>
		<p>We also allow groups of families and friends, to request a group ride. For these group rides please enter “Family” or “Friends” under Organization “n/a” under Position in Organization, and “Leisure,” under Destination of Ride. The person requesting a ride must be a member of PennCycle, and should enter their information for “Name of person leading the ride.”</p>
		<p>Group ride bikes are $10/bike, and all bikes are required to be returned by 6 pm on the day of the ride.</p>
		<p>All members of a group ride will be required to sign a waiver, and participate in a brief 10 minute training on riding in the city and locking up bikes before the ride begins. Please allow time for this training in the schedule of your ride.</p>
	</div>
    <hr>
	<div>
		<strong>Can you lead a group ride for us?</strong>
		<p>PennCycle can provide groups with suggested destinations and routes upon request. PennCycle can lead group rides for an additional cost of $20/hour for the first two hours, and $10 for each additional hour.</p>
	</div>
    <hr>
	<div>
		<strong>How can I get more involved in PennCycle?</strong>
        <p>We are always looking for students that are passionate about bikes, bike sharing, and web development! If you are interested in getting more involved in PennCycle, email <a href="mailto:messenger@penncycle.org" target="_blank">messenger@penncycle.org</a></p>
	</div>
    <hr>
	<div>	
		<strong>Still looking for an answer? Email <a href="mailto:messenger@penncycle.org" target="_blank">messenger@penncycle.org</a>.</strong>
	</div>
</div>
{% endblock %}
