{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
{{block.super}} Sign Up
{% endblock %}

{% block content %}
<div class="well">
    <!-- Name, Organization, Position in Organization, Destination of Ride, Approximate duration of the ride, total number of bikes needed (maximum 10). If you would like a PennCycle representative to lead the ride, please indicate as such. -->
    <h1>Request a Group ride</h1>
    <div class="row-fluid">
        <div class="span5 offset1">
            <div class="control-group">
                <label class="control-label requiredField">
                    Student Name<span class="asteriskField">*</span>
                </label>
                <div class="controls">
                    <input class="textInput" id="id_student_name" maxlength="20" name="student_name" type="text" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label requiredField">
                    Organization<span class="asteriskField">*</span>
                </label>
                <div class="controls">
                    <input class="textInput" id="id_organization" maxlength="20" name="organization" type="text" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label requiredField">
                    Position in organization<span class="asteriskField">*</span>
                </label>
                <div class="controls">
                    <input class="textInput" id="id_position_in_organization" maxlength="20" name="position_in_organization" type="text"/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label requiredField">
                    Would you like a PennCycle representative to accompany you?<span class="asteriskField">*</span>
                </label>
                <div class="controls">
                    <select class="select" id="choose-pc-representative" name="pc-representative" data-placeholder="Would you like a PennCycle representative to accompany you?" style="width:250px;" class="chzn-select" tabindex="1">
                        <option value="Yes">Yes</option>
                        <option value="No" selected="selected">No</option>
                    </select>
                </div>
            </div>
        </div>
        <br/>
        <div class="span6">
            <div class="control-group">
                <label class="control-label requiredField">
                    Email<span class="asteriskField">*</span>
                </label>
                <div class="controls">
                    <input class="textInput" id="id_email" maxlength="50" name="email" type="text" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label requiredField">
                    Destination of Ride<span class="asteriskField">*</span>
                </label>
                <div class="controls">
                    <input class="textInput" id="id_destination_of_ride" maxlength="20" name="id_destination_of_ride" type="text" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label requiredField">
                    Approximate Duration<span class="asteriskField">*</span>
                </label>
                <div class="controls">
                    <input class="textInput" id="id_approximate_duration" maxlength="20" name="approximate_duration" type="text" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label requiredField">
                    Total number of Bikes needed<span class="asteriskField">*</span>
                </label>
                <div class="controls">
                    <input class="textInput" id="id_total_bikes" maxlength="20" name="total_bikes" type="text" />
                </div>
            </div>
            <br/>
        </div>
    </div>    
    <div class="form-actions"><input type="submit" name="submit" value="Submit" class="btn btn-primary" id="request-group-ride"> </div><span id="result-message"></span>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ STATIC_URL }}js/django_ajax.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/modal-window.js" type="text/javascript"></script>
<script type="text/javascript">

    $("#request-group-ride").click(function() {
        var $name = $("#id_student_name").val();
        var $organization = $("#id_organization").val();
        var $position_in_organization = $("#id_position_in_organization").val();
        var $destination_of_ride = $("#id_destination_of_ride").val();
        var $approximate_duration = $("#id_approximate_duration").val();
        var $total_bikes = $("#id_total_bikes").val();
        var $email = $("#id_email").val();
        var $ht = 0.25*$(window).height();
        var $wt = 0.25*$(window).width();
        var $text = $("<h4><i>Thanks for requesting a group ride! PennCycle will get in touch with you soon.</i></h4>");
        var $is_pc_representative_req = $("#choose-pc-representative").val();
        var data = {
            "student_name": $name,
            "organization": $organization,
            "position_in_organization": $position_in_organization,
            "email": $email,
            "destination_of_ride": $destination_of_ride,
            "approximate_duration": $approximate_duration,
            "total_bikes": $total_bikes,
            "require_pc_representative" : $is_pc_representative_req
        }
;        
        $.ajax({
            type: "POST",
            url: "/group_ride_request/",
            data: data,
            success: function(){
                $modal.open({content: $text, height: $ht, width: $wt});
                //alert("Successfully requested your group ride. PennCycle will get in touch with you soon.");
                $('#result-message').html("Successfully requested your group ride. PennCycle will get in touch with you soon.");
            },
            error: function(error) {
                alert(error); 
            } 
        });  
    });

</script>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/modal-window.css"/>
{% endblock %}
