{% extends 'base.html' %}

{% block title %}
{{block.super}} Home
{% endblock %}

{% block css %}
<style type="text/css">
  .circle {
    width: 125px;
    height: 125px;
    border: 2px solid #fff;
    border-radius: 100%;
    display: table-cell;
    vertical-align: middle;
    font-size: 18px;
    cursor: pointer !important;
  }
  .basic {
    background-color: hsla(200, 100%, 50%, .2);
  }
  .spacer {
    display: table-cell;
    width: 45px;
  }
  .price {
    display: block;
    text-align: center;
  }
  .plan-name {
    font-weight: bold;
    display: block;
    text-align: center;
  }
  .marker {
    font-size: 10px;
    line-height: 10px;
    background-color: white;
    text-align: center;
    border-radius: 2px;
  }
  .circle:hover {
    background-color: hsla(200, 100%, 50%, .2);
  }
  .selected {
    background-color: hsla(200, 100%, 50%, .4);
  }
  .selected:hover {
    background-color: hsla(200, 100%, 50%, .5);
  }
  #variable_plan { 
  }
  .carousel-holder { 
	height: 500px;
	width: auto;
	margin: 0px 100px;
	background-image: url('{{ STATIC_URL }}img/collegehall.jpg');
	background-color: gray;
	border-radius: 10px;
	margin-bottom: 10px;
  }
  .carousel-img { 
	  display: block;
	  height: 500px;
	  max-height: 500px;
	  width: auto;
	  margin-left: auto;
	  margin-right: auto;
  }
  .carousel { 
	  border-radius: 10px;
  }
  .carousel-holder .carousel-inner { 
  }
  .carousel-holder .carousel .item { 
	  background:  rgba(238, 238, 238, 0.65); 
  }
  .carousel-caption { 
	  text-align: center;
	  color: white;
	  border-bottom-right-radius: 10px;
	  border-bottom-left-radius: 10px;
  }
  .carousel-control { 
	  border: none;
	  background: inherit;
	  color: #808080;
   }
   .our-plans { 
	   margin-left: 50px;
	   font-weight: bold;
   }
   .row-fluid .span5 { 
	   padding-right: 30px;
   }
   .selected-plan { 
	   margin-left: 40px;
   }
</style>
{% endblock %}

{% block content %}
<div class="row-fluid well">
<br>
  <div class="carousel-holder">
	  <div id="index-carousel" class="carousel slide" data-ride="carousel">
		  <ol class="carousel-indicators">
			  <li data-target="#index-carousel" data-slide-to="0" class="active"></li>
			  <li data-target="#index-carousel" data-slide-to="1"></li>
			  <li data-target="#index-carousel" data-slide-to="2"></li>
		  </ol>

		  <div class="carousel-inner">
			  <div data-slide-no="0" class="item active">
				<img class="carousel-img" src="{{ STATIC_URL }}img/katie-smiling-riding-with-man-GONE.jpg">
				<div class="carousel-caption">
                    <h3>Welcome to PennCycle!</h3>
					<p>We have changed our service since last semester! To check out a bike, please create an account online and sign the waiver. Then purchase a plan at Quaker Corner and choose your bike! You can also email us before coming at messenger@penncycle.org so we can help you choose a bike.</p>
				</div>
			  </div>
			  <div data-slide-no="1" class="item">
				<img class="carousel-img" src="{{ STATIC_URL }}img/katie-sitting-reading.jpg">
				<div class="carousel-caption">
					<h3>The University of Pennsylvania's campus-wide bike share</h3>
				</div>
			  </div>

		  </div>
		  <a class="left carousel-control" href="#index-carousel" data-slide="next">&#10094;</a>
		  <a class="right carousel-control" href="#index-carousel" data-slide="next">&#10095;</a>

	  </div>
  </div>
 <br>
  <div class="row-fluid">
    <h3><b>Checkout a Bike:</b></h3>
    <p>Sign up for an account and fill up the bike request form</p>
     <div class="span12">
     <div class="row-fluid">
        <h3 class="our-plans">Our Plans:</h3>
        <div class="row-fluid">
          <div class="span3 offset1">
            <div class="circle" id="month_plan">
              <span class="plan-name">Month Plan</span>
              <span class="price">${{ monthPrice }}/month</span>
            </div>
            <br>
              <div>Unlimited 24-hour checkouts for a month.</div>
          </div>
          <div class="span3 offset1">
            <div class="circle selected" id="semester_plan">
              <span class="plan-name">Semester Plan</span>
              <span class="price">${{ semesterPrice }}</span>
            </div>
            <br>
            <div>Unlimited 24-hour checkouts for the whole semester.</div>
          </div>
          <div class="span3 offset1">
            <div class="circle selected" id="year_plan">
              <span class="plan-name">Year Plan</span>
              <span class="price">${{ yearPrice }}</span>
            </div>
            <br>
            <div>Unlimited 24-hour checkouts for the whole year.</div>
          </div>
        </div>
       <div class="row-fluid">
        <div class="selected-plan" style="margin-top:40px; text-align:center">
			<h3><strong>Selected Plan:</strong> <span id="variable_plan">Month - ${{ monthPrice }}/month</span></h3>
          <form method="GET" action="/lookup/">
			<div>
				<input class="btn btn-primary" type="submit" value="Get Started &raquo;">
				<div class="btn">
				  <a href="/signin/">Sign In</a>
				</div>
			</div>
          </form>
        </div>

      </div>
 
      </div>

    </div>
  <h3><b>Group Rides:</b></h3>
  <p>If you want to organize a group ride for a day, PennCycle provides a group ride pricing of $10/bike. Please email us at <a href="mailto:messenger@penncycle.org" target="_blank">messenger@penncycle.org</a> to find out more.</p>
  </div>
  <hr>
  <div> Sign up to participate in PennCycle's first workshop of the Spring: <b>How to ride your bike in the city?</b> Cost of attendance is $10. But, if you attend, you will receive $5 off any PennCycle plan. <a href="https://docs.google.com/forms/d/1dDOloa0D086dHVtTln_d4wMAPBmZ291yiG-v3AVUD6w/viewform"> Sign Up Here!!</a>
  </div>
  <hr>
  <p class="text-center">Happy Cycling!</p>
</div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?v=3&sensor=false"></script>

  <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/tags/markerwithlabel/1.0.1/src/markerwithlabel.js"></script>
  <script src="{{ STATIC_URL }}js/map.js"></script>
  <script>
	$("#index-carousel").carousel({
		pause: "hover",
		interval: 4000,
	});
	$('#index-carousel').on( 'slide', function () {
		var active  = (parseInt($('.carousel-inner .active').attr('data-slide-no')) + 1);
		var total = $(".carousel-inner").children().length;
		active >= total ? active = 0 : null;
		$(".carousel-indicators li").removeClass('active');
		$('.carousel-indicators [data-slide-to=' + active + ']').addClass('active');
	});

    $(".circle").click(function() {
      $(".circle").not(this).removeClass("selected");
      $(this).addClass("selected");
      switch (this.id) {
        case "month_plan":
		$("#variable_plan").hide().html("Month - ${{ monthPrice }}/month").fadeIn('slow');
        break;
        case "semester_plan":
		$("#variable_plan").hide().html("Semester - ${{ semesterPrice }}").fadeIn('slow');
        break;
        case "year_plan":
		$("#variable_plan").hide().html("Year - ${{ yearPrice }}").fadeIn('slow');
        break;
    }
  });
  </script>

{% endblock %}
