<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block title %}PennCycle | {% endblock title %}</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="{{ STATIC_URL }}js/jquery.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/modal-window.css" />
  <script src="{{ STATIC_URL }}js/modal-window.js" type="text/javascript"></script>
  <script src="{{ STATIC_URL }}js/django_ajax.js" type="text/javascript"></script>
  <style>
    p{ margin-left: 50px; }
  </style>

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Le styles -->

    <link href="{{ STATIC_URL }}css/penncycle.css" rel="stylesheet">
    {% block css %}
    {% endblock css %}

  </head>

  <body>

<h2 align="center">
    <strong>LIABILITY WAIVER AND RELEASE FORM</strong>
</h2>
<p align="center">
    <strong>Updated July 29, 2014</strong>
</p>
<p>
<strong>Welcome to PennCycle. Please sign the waiver below to continue</strong></p>
<p>
I, the undersigned, wish to participate in the PennCycle program (hereinafter “the program”). I voluntarily make the following acknowledgements and hereby agree to the following terms and conditions:
</p>
<p>
    <strong>ABILITY TO OPERATE A BICYCLE SAFELY</strong>
</p>
<p>
I hereby represent that I am a competent bicycle operator, and confirm that I am sufficiently fit to safely operate a program bicycle and I have no medical conditions that would interfere with my ability to use a program bicycle.
</p>
<p>
I further confirm that I am of lawful age (18 years or older) and otherwise legally competent to sign this Liability Waiver and Release Form. I further understand that the terms of this agreement are legally binding.
</p>
<p>
    <strong>ACKNOWLEDGEMENT REGARDING SAFETY EQUIPMENT</strong>
</p>
<p>
I acknowledge that I am required to wear an approved helmet while cycling.
</p>
<p>
 I acknowledge that the use of a program bicycle is subject to applicable University of Pennsylvania, City of Philadelphia and State of Pennsylvania vehicle and traffic laws.
</p>
<p>
I am familiar with the proper use of a program bicycle, including all quick release mechanisms, brakes, and gear shifters, as well as mechanisms to lock up the bicycle when not in use.
</p>
<p>
I acknowledge that I have read the provided safe operating procedures and/or viewed the provided safe operating video.
</p>
<p>
    <strong>ASSUMPTION OF RISKS</strong>
</p>
<p>
I am aware that cycling activities involve many risks, dangers and hazards including, but not limited to: changing weather conditions; mechanical failure
of the equipment; loss of balance; difficulty or inability to control one’s speed and direction; variation or steepness in terrain; rapid or uncontrolle acceleration on hills and inclines; variation or changes in the cycling surface including holes or depressions in the roads; exposed rock, snow, ice, earth and other natural objects; streams, creeks and rivers; cliffs and crevasses; collision with exposed rock, snow, ice, earth, trees or other natural man-made objects on or adjacent to the cycling terrain; and encounters with wildlife, collision with pedestrians, vehicles or other cyclists.
</p>
<p>
Being fully aware of the risks involved in cycling activities, I FREELY ACCEPT AND FULLY ASSUME ALL SUCH RISKS, DANGERS AND HAZARDS AND THE POSSIBILITY OF PERSONAL INJURY, UP TO AND INCLUDING DEATH, PROPERTY DAMAGE AND LOSS RESULTING THEREFROM.
</p>
<p>
I further acknowledge, understand, and agree that the University of Pennsylvania is not providing any supervision in connection with my use of the program bicycle. I am voluntarily using the program bicycle with full awareness of this lack of supervision by the University of Pennsylvania, and am not relying on the University of Pennsylvania in any way to provide protection against the risks and injuries I know are inherent in cycling.
</p>
<p>
I understand and agree that I am assuming the risk of negligence on the part of the University of Pennsylvania and its employees, agents, and representatives in connection with my use of program bicycles, including the University of Pennsylvania’s negligence in the administration of the program and its maintenance of program bicycles, and confirm that I am not relying on the University of Pennsylvania to safeguard or protect me from the risks, dangers and hazards of using the program bicycle.
</p>
<p>
I am responsible for any damage to the program bicycle or bicycle parts and accessories included with the bicycle during my use. I am financially
responsible for replacing or repairing the bicycle and any of its components upon bending, breaking, ripping, or theft during my rental.
    <strong>(See Appendix A for Costs of Bike Parts)</strong>
</p>
<p>
    <strong>RELEASE OF LIABILITY, WAIVER OF CLAIMS, AND INDEMNITY AGREEMENT</strong>
</p>
<p>
In consideration of PennCycle allowing me to use a program bicycle, and for other good and valuable consideration, the receipt and sufficiency of which is acknowledged, I hereby agree as follows:
</p>
<p>
1. TO WAIVE ANY AND ALL CLAIMS that I have or may in the future have against the Trustees of the University of Pennsylvania , its trustees, officers, employees, agents, representatives, successors and assigns, including the staff and volunteers working for and on behalf of PennCycle (all of whom are hereinafter collectively referred to as "THE RELEASEES"), and TO RELEASE THE RELEASEES from any and all liability for any loss, damage, expense or injury including death that I may suffer, or that my heirs, next of kin, executors, administrators or representatives may suffer resulting from my participation in the program and my use of the bicycle.
</p>
<p>
2. TO HOLD HARMLESS AND INDEMNIFY THE RELEASEES from any and all liability for any damage to property of or personal injury to any third party, resulting from my use of a program bicycle;
</p>
<p>
3. This Agreement shall be effective and binding upon my heirs, next of kin, executors, administrators and representatives, in the event of my death or incapacity;
</p>
<p>
4. This Agreement shall be effective and binding upon any additional “third party”(defined as friend or acquaintance) for whom I am renting a bicycle for as part of any PennCycle promotional or discounted program. I understand that I acknowledge that I have disclosed the terms of this Liability Waiver and Release with that “third party” and that the third party is in agreement.
</p>
<p>
5. This Agreement and any rights, duties and obligations as between the parties to this Agreement shall be governed by and interpreted solely in accordance with the laws of the Commonwealth of Pennsylvania and no other jurisdiction; and
</p>
<p>
6. In entering into this Agreement I am not relying upon any oral or written representations or statements made by the Releasees with respect to the safety of the program, its bicycles, or cycling generally, other than the contents set forth in this Agreement.
</p>
<p>
7. There are certain fees associated with this Agreement, that are fees in addition to the PennCycle Membership Fee. These fees are, a $5.00 fee for bikes that have been found to be improperly locked. An improperly locked bike is defined as a bike locked by an insecure part of the frame (examples include handlebars, seat post, pedals) or locked only by a wheel, or locked to an improper rack (examples include garbage cans, railings, poles, benches). A $5.00 fee also applies for bikes that have been returned late. This fee applies to a Basic or day Plan user fails to return a bike after 24 hours of use. This fee will continue to accrue every 24 hours until which time the bike has been checked back into a station.
</p>
<p>
I HAVE READ AND UNDERSTAND THIS AGREEMENT AND I AM AWARE THAT BY SIGNING THIS AGREEMENT I AM WAIVING CERTAIN LEGAL RIGHTS WHICH I OR MY HEIRS, NEXT OF KIN, EXECUTORS, ADMINISTRATORS AND REPRESENTATIVES MAY HAVE AGAINST THE RELEASEES.
</p>
<p align="center">
    <strong>BY CLICKING 'ACCEPT' BELOW, I AM DIGITALLY SIGNING THIS DOCUMENT AND AGREEING TO ALL ITS TERMS AND CONDITIONS</strong>
</p>
<p>
    <strong>OTHER TERMS OF USE OF THE BICYCLE</strong>
</p>
<p>
In consideration of PennCycle allowing me to use a program bicycle, and for other good and valuable consideration, the receipt and sufficiency of which is acknowledged, I hereby further agree as follows:
</p>
<p>
a. I agree not to ride the program bicycle if I notice any mechanical or other problem or safety issue, and I agree to promptly notify PennCycle of all problems and issues and to use a different program bicycle. I further agree to check in any bicycle in need of repair and to notify PennCycle of my assessment of any and all repairs that the bicycle needs at check in.
</p>
<p>
b. I will not use any cellular telephone, text messaging device, portable music player, or other device that may distract me from safely operating a program bicycle.
</p>
<p>
c. I will not operate a program bicycle while under the influence of any alcohol, drugs, or other substance that may impair my ability to safely operate a program bicycle.
</p>
<p>
d. I will not carry a second person on a program bicycle.
</p>
<p>
e. I will obey any applicable federal, state, or local law, including those for bicycle riders.
</p>
<p>
f. I will not operate a program bicycle in extreme weather conditions. PennCycle will have the right to refuse use of program bicycles in the event of extreme weather.
</p>
<p> 
g. I acknowledge that I will have the option of reserving a bicycle through a smartphone application (“APP”). If I elect to reserve a bicycle via the “APP” I agree to not share any information specific to the reserved bicycle with any person and to keep such information confidential.
</p>
<p>
h.Wearing an approved helmet, properly sized, fitted, and fastened, while cycling may protect against an injury, or may lessen the severity of an injury, caused by an impact to the head; however, bicycle helmets are not 100% effective, do not protect against all head injuries, and do not protect against other injuries. Although some state and local laws do not require bicycle riders to wear helmets, PennCycle requires that all riders wear an approved helmet that has been properly sized, fitted, and fastened, according to the manufacturer’s instructions. PennCycle does not represent or warrant the quality or safety characteristics of any helmet, and I agree that PennCycle must not be held liable for any injury I suffer while using a program bicycle, whether or not I am wearing a helmet at the time of injury.
</p>
<p>
i. I acknowledge that PennCycle has provided for an approved helmet and I have elected to provide a helmet of my own choosing.
</p>
<p>
    <strong>ABUSE OF SERVICES</strong>
</p>
<p>
I ACKNOWLEDGE AND AGREE THAT IT IS THE DISCRETION OF PENNCYCLE TO DETERMINE IF I HAVE BEEN ABUSING THE SERVICES UNDER THIS AGREEMENT. IT IS ALSO THE DISCRETION OF PENNCYCLE TO DETERMINE HOW TO PROCEED AFTER SUCH DETERMINATION IS MADE. PENNCYCLE WILL PROVIDE NOTICE IN WRITING TO MEMBER PRIOR TO ACTING IN ANYWAY. ACTIONS TAKEN INCLUDE, BUT ARE NOT LIMITED TO, FINES AND ADDITIONAL FEES, OR TERMINATION OF MEMBERSHIP.
</p>
<p align="center">
    <strong>BY CLICKING 'ACCEPT' BELOW, I AM DIGITALLY SIGNING THIS DOCUMENT AND AGREEING TO ALL ITS TERMS AND CONDITIONS</strong>
</p>
<p align="center">
    <u>Appendix A</u>
</p>
<p align="center">
    <u> </u>
</p>
<p>
    <u>Cost for Lost Bike Parts</u>
</p>
<table border="0" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td valign="top">
                <p>
                    Part
                </p>
            </td>
            <td valign="top">
                <p>
                    Price
                </p>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <p>
                    <u>General</u>
                </p>
            </td>
            <td valign="top">
            </td>
        </tr>
        <tr>
            <td valign="top">
                <p>
                    Helmet
                </p>
            </td>
            <td valign="top">
                <p>
                    $25
                </p>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <p>
                    Lock
                </p>
            </td>
            <td valign="top">
                <p>
                    $30
                </p>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <p>
                    Lost lock key
                </p>
            </td>
            <td valign="top">
                <p>
                    $15
                </p>
            </td>
        </tr>
        <tr>
            <td valign="top">
            </td>
            <td valign="top">
            </td>
        </tr>
        <tr>
            <td valign="top">
                <p>
                    <u>Worksman</u>
                </p>
            </td>
            <td valign="top">
            </td>
        </tr>
        <tr>
            <td valign="top">
                <p>
                    Stolen Worksman Bike
                </p>
            </td>
            <td valign="top">
                <p>
                    $500
                </p>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <p>
                    Front Worksman Bike Wheel
                </p>
            </td>
            <td valign="top">
                <p>
                    $36
                </p>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <p>
                    Back Worksman Bike Wheel
                </p>
            </td>
            <td valign="top">
                <p>
                    $47
                </p>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <p>
                    Worksman seat
                </p>
            </td>
            <td valign="top">
                <p>
                    $28
                </p>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <p>
                    Worksman Fenders
                </p>
            </td>
            <td valign="top">
                <p>
                    $13
                </p>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <p>
                    Worksman handlebars
                </p>
            </td>
            <td valign="top">
                <p>
                    $14
                </p>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <p>
                    Reflectors
                </p>
            </td>
            <td valign="top">
                <p>
                    $5
                </p>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <p>
                    Rack
                </p>
            </td>
            <td valign="top">
                <p>
                    $ 25
                </p>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <p>
                    Tire and Tube
                </p>
            </td>
            <td valign="top">
                <p>
                    $14
                </p>
            </td>
        </tr>
    </tbody>
</table>
<input type="button" value="Accept" id="accept"></input>
<script type="text/javascript">
        $("#accept").click(function() {
        var $ht = 0.25*$(window).height();
        var $wt = 0.25*$(window).width();
        var $text = $("<h4><i>Thanks for accepting our terms and conditions and signing up with PennCycle. </i></h4>");
        $.post(
            "/verify_waiver/",
            {}, // The penncard is in the session
            function(data) {
            if (data.success) {
                $modal.open({content: $text, height: $ht, width: $wt});
            } else {
                alert(error);
            }
        }
        );
    });
    </script>

</body>
</html>
